.paraquemindicado {
       height: 300px;
       margin-left: 110px;
       margin-right: 110px;
       margin-top: 130px;
}

.investimostempo {
    font-size: 55px;
    text-align: justify;
}

.paraquemindicado2 {
    background-color: black;
    color: aliceblue;
    display: inline-block;

    
}

.div {
    margin-left: 110px;
    margin-right: 110px;
    padding: 30px;
}

.titulo2 {
    border-left: 2px solid white;
    font-size: 45px;

}

.paragraf {
    font-size: 30px;
    margin-left: 250px;
}

.oqueentregamos {
    padding: 35px;
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
}

.titulooqueentre {
    border-left: 3px solid black;
    font-size: 50px;
    height: 130px;
}

.paragrafos {
    background-color: aqua;
    border-radius: 25px;
    padding: 30px;
    margin-left: 180px;
}

.bota {
    align-items: center;
}

